@charset "UTF-8";
/* CSS Document */

html {
    font-size: 62.5%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    /* Fix for absolute positioning */
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}


/*ヘッダー部分*/
.header {
    border-top: 15px solid #00A99D;
    border-bottom: 2px solid #00A99D;
}

.site-title {
    width: 11%;
    height: 80px;
    float: left;
    color: #71340A;
}


.site-title-sub {
    width: 40%;
    height: 80px;
    float: left;
    padding-left: 10px;
}

.site-title-sub p {
    line-height: 55px;
    color: #71340A;
}

.phone-number {
    height: 80px;
}

.phone-number p {
    width: 19%;
    float: right;
    color: #4D4D4D;
}

#phone-number {
    font-size: 2.1rem;
    font-weight: bold;
}

/*追加設定*/
#phone-number a {
    color: #4D4D4D;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

/*着信設定*/
a[href^="tel:"] {
    cursor: default;
}

/* タイトル */
.title {
    max-width: 50%;
    float: left;
}

.title p img {
    width: 100%;
    height: auto;
}

/* スライドショー */
.slideshow {
    max-width: 100%;
    height: auto;
    float: right;
    margin-top: 15px;
}

.slideshow img {
    width: 100%;
    height: auto;
}

/* コメント */
.coment p {
    font-size: 1.8rem;
    height: 45px;
    text-align: center;
    color: #F9F9F9;
    background-color: #8cc63f;
    line-height: 50px;
    clear: both;
}

/* bluesheet */
#balloon {
    width: 100%;
    float: left;
    clear: both;
    margin-top: -40px;
}

.balloon p {
    text-align: center;
    font-size: 3rem;
    padding-top: 10px;
    color: #fff;
}

div.balloon {
    background: #00a99d;
    dispay: inline-block;
    position: relative;
    width: 100%;
    height: 60px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

div.balloon:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-top-color: #00a99d;
    position: absolute;
    left: 50%;
    bottom: -19px;
}

.bluesheet-coment {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    height: 45px;
    color: #00A99D;
}

.bluesheet-wrapper {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.bluesheet-box {
    display: table-cell;

}

.bluesheet-box p {
    margin: 10px 10px 0px 10px;
    border: 3px solid #00a99d;
    text-align: center;
    height: auto;
    padding-top: 7px;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #00a99d;
}

.bluesheet-box p img {
    width: 90%;
    padding-top: 10px;
}


/* works */
.works {
    text-align: center;
}

.works p {
    font-size: 18px;
    line-height: 3rem;
    margin-top: 40px;
}

.font {
    font-size: 20px;
    color: #8cc63f;
}

/* skills */
.skills-wrapper {
    display: table;
    width: 100%;
    margin: 50px auto 0;
    table-layout: fixed;
    text-align: center;
    background-color: #8cc63f;
    padding: 40px;
}

.skill-box {
    display: table-cell;
    text-align: center;
}

.skill-icon {
    width: 150px;
    height: 150px;
    padding: 35px;
    margin-bottom: 30px;
    border: 4px solid;
    border-radius: 50%;
    color: #fff;
    line-height: 400px;

}

.skill-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.skill-text {
    color: #4d4d4d;
    font-weight: 600;
}


/* About */
.about {
    width: 90%;
    margin: auto;
}

.about h1 {
    margin-left: -15px;
    margin-bottom: -10px;
    color: #71340A;
}

.about p {
    font-size: 15px;
    margin-bottom: 30px;
}

/* お問い合わせ */
.contact {
    text-align: center;
    font-size: 24px;
}

.button {
    position: relative;
    display: inline-block;
    padding: .9em 4em;
    border: 4px solid #00A99D;
    color: #00A99D;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.button::after {
    position: absolute;
    top: 50%;
    right: .2em;
    content: '';
    margin-top: -5px;
    border: 7px solid transparent;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-color: #00A99D;
    transition: all .2s;
}

.button:hover::after {
    right: -.05em;
}

/* topへ戻る */
#pageTop {

    position: fixed;
    bottom: -5px;
    right: 20px;
}

#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    width: 140px;
    height: 60px;
    background-color: #603813;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}



#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
}

/* フッター */
.footer {
    height: 60px;
    background-color: #00A99D;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

.company {
    float: left;
    width: 33%;
    color: #fff;
    text-align: center;
}

.address {
    float: left;
    width: 33%;
    color: #fff;
    text-align: center;
}

.tell {
    float: left;
    width: 33%;
    color: #fff;
    text-align: center;
}

/* ###########769pxから970px########## */
@media (min-width: 769px) and (max-width: 970px) {

    /*ヘッダー部分*/
    .header .site-title {
        width: 13%;
    }

    .header .site-title h1 {
        font-size: 2.5rem;
        padding-top: 5px;
    }

    .site-title-sub {
        width: 60%;
    }

    .phone-number {
        height: 80px;
    }

    .phone-number p {
        width: 27%;
        font-size: 1.5rem;
        padding-right: 5px;
        text-align: right;
    }

    #phone-number {
        font-size: 2.25rem;
        font-weight: bold;
    }

    /* topへ戻る */
    #pageTop {
        position: fixed;
        bottom: -5px;
        right: 0px;
    }

    #pageTop a {
        padding: 15px 0px 0 4px;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 17px;
    }

    /* フッター */
    .footer {
        height: 60px;
        background-color: #00A99D;
        margin-top: 30px;
        text-align: center;
        font-size: 15px;
        padding-top: 7px
    }

}


/* ##########スマートフォン・タブレット対応########## */
@media (max-width: 768px) {
    .site-title {
        height: 30px;
        width: 100%;
        float: none;
        text-align: center;
    }

    .site-title-sub {
        height: 30px;
        width: 100%;
        float: none;
        text-align: center;
    }

    .site-title-sub p {
        padding: 5px 5px;
        line-height: 2rem;
        font-size: 1.2rem;
    }

    .phone-number p before {
        width: 100%;
        float: none;
        text-align: center;
        content: "&#x1F57B;";
    }

    /*追加設定*/
    #phone-number a {
        pointer-events: initial;
        cursor: initial;
        text-decoration: initial;
    }

    /* タイトル */
    .title {
        max-width: 100%;
        float: none;
    }

    .title p img {
        width: 100%;
        height: auto;
    }

    /* スライドショー */
    .slideshow {
        max-width: 100%;
        height: auto;
        float: none;
        margin-top: -10px;
    }

    .slideshow li img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    /* コメント */
    .coment p {
        font-size: 1.1rem;
        height: 30px;
        text-align: center;
        color: #F9F9F9;
        background-color: #8cc63f;
        line-height: 30px;
        padding-top: 2px;
        clear: both;
    }

    /* bluesheet */
    #balloon {
        width: 100%;
        float: left;
        clear: both;
        margin-top: -20px;
    }

    .balloon p {
        font-size: 2rem;
    }

    div.balloon {
        height: 50px;
    }

    .bluesheet-coment {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0px;
    }

    .bluesheet-wrapper,
    .bluesheet-box {
        display: block;
    }

    .bluesheet-wrapper {
        margin-top: 120px;
    }



    .bluesheet-box p {
        margin: 10px 0px 0px 0px;
        text-align: center;
        height: auto;
        padding-top: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #00a99d;
    }

    .bluesheet-box p img {
        margin-top: 10px;
    }



    /* works */
    .works {
        text-align:
    }

    .works p {
        font-size: 15px;
        line-height: 2.7rem;
        margin-bottom: -40px;
    }

    #works {
        font-size: 17px;
        color: #8cc63f;
    }

    /* skills */
    .skills-wrapper,
    .skill-box {
        display: block;
    }


    .skill-icon {
        width: 120px;
        height: 120px;
        padding: 20px;
        margin-bottom: 20px;
        border: 4px solid;
        border-radius: 50%;
        color: #fff;
    }

    .skills-wrapper {
        padding: 15px;
    }

    .skill-text {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }




    /* お問い合わせ */
    .contact {
        font-size: 13px;
        margin-bottom: 30px;
    }

    /* topへ戻る */
    #pageTop a {
        padding: 4px 0 0 4px;
        width: 40px;
        height: 30px;
        text-align: center;
        font-size: 17px;
    }

    /* フッター */
    .footer {
        height: 100px;
        background-color: #00A99D;
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
    }

    .company {
        width: 100%;
        color: #fff;
        text-align: center;
        line-height: 10px;
    }

    .address {
        width: 100%;
        color: #fff;
        text-align: center;
        line-height: 0px;
    }

    .tell {
        width: 100%;
        color: #fff;
        text-align: center;
        line-height: 0px;
    }
